.main-panel-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

}
.forms-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
